<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %} - Music</title>
    {{ bootstrap.load_css() }}
</head>
<body class="bg-info">
    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('page_accueil') }}">Accueil</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('page_clients') }}">Clients</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('page_employes') }}">Employés</a>
                    </li>
                </ul>
            </div>
        </nav>


        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        <div class="text-center">&copy; Copyright 2021 par Louis GAMBIER et Quentin VITON.</div>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>
